<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>하이 잘 왔다.</h2>
    <h2>이거슨 매칭 화면</h2>
    <h2>이 아래의 버튼을 누르면 매칭이 시작됨</h2>
    <input type="text" id="member" name="member" value="하이">
    <button type="button" onclick="test1()">매칭 시작 버튼이얌</button>
    <hr>
    <h2 id="matching" style="display: none;">매칭 진행중입니다.</h2>
    <h2 id="timer" style="display: none;">시계 타이머 기능 구현해줘야댕~~</h2>

</body>
<script type="text/javascript">

    function test1() {
        $('#matching').css({
            "display" : "block"
        });
        $('#timer').css({
            "display" : "block"
        });
        $.ajax({
            url: '/test',
            type: 'get',
            // dataType:'json',
            data: {"a" : $('#member').val()},
            success: function (r) {
                alert("ㅎㅇ");
            },
            error : function(request, status, error) {
                console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }
</script>
</html>