<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <form class="frm" id="frm" name="frm" action="/main" method="post">
        <p>userId : </p><input type="text" id="userId" name="userId">
        <p>userNickname : </p><input type="text" id="userNickname" name="userNickname">
        <p>mmr : <input type="text" id="mmr" name="mmr"></p>
        <p>rank : <input type="text" id="rank" name="rank"></p>
        <button type="submit">전송</button>
    </form>
</body>
</html>