<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lol.match.main.mapper.MainMapper">

    <!-- 코드 테스트시 원하는 SETTING_ID 값으로 변경 -->
    <select id="findBySettingId" resultType="com.lol.match.main.model.SettingDto">
        SELECT * FROM TB_SETTING ts 
        WHERE ts.SETTING_ID = 1
    </select>

    <select id="findByAllUserId" resultType="com.lol.match.main.model.UserAllDto">
        SELECT * FROM TB_USER_ALL tu
        WHERE tu.USER_ID = #{userId}
    </select>

    <select id="findByRankUserId" resultType="com.lol.match.main.model.UserRankDto">
        SELECT * FROM TB_USER_RANK tu
        WHERE tu.USER_ID = #{userId}
    </select>

    <select id="findByMmrUserId" resultType="com.lol.match.main.model.UserMmrDto">
        SELECT * FROM TB_USER_MMR tu
        WHERE tu.USER_ID = #{userId}
    </select>

    <select id="findByPositionUserId" resultType="com.lol.match.main.model.UserPositionDto">
        SELECT * FROM TB_USER_POSITION tu
        WHERE tu.USER_ID = #{userId}
    </select>

    <select id="findByRank" resultType="com.lol.match.main.model.RankDto">
        SELECT * FROM TB_RANK 
        ORDER BY RANK_LEVEL
    </select>

    <select id="findByRankId" resultType="com.lol.match.main.model.RankDto">
        SELECT * FROM TB_RANK 
        WHERE RANK_ID = #{rankId} 
    </select>

    <select id="findByPosition" resultType="com.lol.match.main.model.PositionDto">
        SELECT * FROM TB_POSITION
    </select>
    
    <select id="findByPositionId" resultType="com.lol.match.main.model.PositionDto">
        SELECT * FROM TB_POSITION 
        WHERE POSITION_ID = #{positionId} 
    </select>

</mapper>