<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lol.match.main.mapper.MainMapper">

    <!-- 코드 테스트시 원하는 SETTING_ID 값으로 변경 -->
    <select id="findBySettingAllId" resultType="com.lol.match.main.model.SettingDto">
        SELECT * FROM TB_SETTING ts 
        WHERE ts.SETTING_ID = 1
    </select>

    <select id="findBySettingMmrId" resultType="com.lol.match.main.model.SettingDto">
        SELECT * FROM TB_SETTING ts 
        WHERE ts.SETTING_ID = 2
    </select>

    <select id="findBySettingPositionId" resultType="com.lol.match.main.model.SettingDto">
        SELECT * FROM TB_SETTING ts 
        WHERE ts.SETTING_ID = 3
    </select>

    <select id="findBySettingRankingId" resultType="com.lol.match.main.model.SettingDto">
        SELECT * FROM TB_SETTING ts 
        WHERE ts.SETTING_ID = 4
    </select>

    <select id="findByAllUserId" resultType="com.lol.match.main.model.UserAllDto">
        SELECT * FROM TB_USER_ALL tu
        WHERE tu.USER_ID = #{userId}
    </select>

    <select id="findByRankingUserId" resultType="com.lol.match.main.model.UserRankingDto">
        SELECT * FROM TB_USER_RANKING tu
        WHERE tu.USER_ID = #{userId}
    </select>

    <select id="findByMmrUserId" resultType="com.lol.match.main.model.UserMmrDto">
        SELECT * FROM TB_USER_MMR tu
        WHERE tu.USER_ID = #{userId}
    </select>

    <select id="findByPositionUserId" resultType="com.lol.match.main.model.UserPositionDto">
        SELECT * FROM TB_USER_POSITION tu
        WHERE tu.USER_ID = #{userId}
    </select>

    <select id="findByRanking" resultType="com.lol.match.main.model.RankingDto">
        SELECT * FROM TB_RANKING 
        ORDER BY RANKING_LEVEL
    </select>

    <select id="findByRankingId" resultType="com.lol.match.main.model.RankingDto">
        SELECT * FROM TB_RANKING 
        WHERE RANKING_ID = #{rankingId} 
    </select>

    <select id="findByPosition" resultType="com.lol.match.main.model.PositionDto">
        SELECT * FROM TB_POSITION
    </select>
    
    <select id="findByPositionId" resultType="com.lol.match.main.model.PositionDto">
        SELECT * FROM TB_POSITION 
        WHERE POSITION_ID = #{positionId} 
    </select>

</mapper>